@use "variables" as *;

.intro {
  position: relative;
}

.intro__hero {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  overflow-y: hidden;
}

.intro__illustration {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 0;
  padding-bottom: calc(100% / #{$bg-hero-mobile-aspect-ratio});
}

.intro__image {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
}

@supports (aspect-ratio: 16 / 9) {
  .intro__illustration {
    height: auto;
    padding-bottom: 0;
    aspect-ratio: $bg-hero-mobile-aspect-ratio;
  }
}

.intro__wrapper {
  display: flex;
  flex-direction: column;

  padding-bottom: 1.5em;
}

.intro__inner {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  flex-basis: auto;

  padding: 4.071em 2.5% 3.786em;

  color: $body-bg-color;
}

.intro__rating {
  flex-shrink: 0;
  flex-basis: auto;
  align-self: center;

  margin: 0 auto;
}

.intro__title {
  flex-shrink: 0;
  flex-basis: auto;

  margin: 0;
  margin-bottom: 1.75em;

  font-weight: 700;
  font-size: 1.714em;
  line-height: 1.25;
}

.intro__description {
  flex-shrink: 0;
  flex-basis: auto;

  margin: 0;
  margin-bottom: 2.357em;

  line-height: 1.244;
}

.intro__date {
  flex-shrink: 0;
  flex-basis: auto;
  order: -1;

  margin: 5.333em 0 1.917em;

  font-weight: 500;
  font-size: 0.857em;
  line-height: 1.25;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.intro__button {
  flex-shrink: 0;
  flex-basis: auto;
  align-self: flex-start;

  width: 16em;
}

@media (min-width: $tablet-width) {
  .intro__illustration {
    padding-bottom: calc(100% / #{$bg-hero-tablet-aspect-ratio});
  }

  @supports (aspect-ratio: 16 / 9) {
    .intro__illustration {
      padding-bottom: 0;
      aspect-ratio: $bg-hero-tablet-aspect-ratio;
    }
  }

  .intro__wrapper {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .intro__inner {
    width: calc(
      (100% - 2 * #{$tablet-side-column-width} - #{$mobile-gutter}) * 0.666 + #{$mobile-gutter} + #{$tablet-side-column-width}
    );
    margin-left: auto;
    padding: 5.429em 1.143em 1.143em 1.429em;
  }

  .intro__rating {
    align-self: flex-start;

    margin-right: calc(
      (100% - 2 * #{$tablet-side-column-width} - #{$mobile-gutter}) * 0.666 + #{$mobile-gutter} + #{$tablet-side-column-width}
    );
    margin-top: -3.214em;
  }

  @supports (display: grid) {
    .intro__wrapper {
      display: grid;
      grid-template-columns:
        [rating-start]
        minmax(0, 37fr) repeat(2, minmax(0, 40fr))
        [rating-end inner-start]
        repeat(4, minmax(0, 40fr)) minmax(0, 37fr)
        [inner-end];
      grid-template-rows:
        [inner-start]
        min-content
        [rating-start]
        3.214em
        [inner-end]
        min-content
        [rating-end];
      grid-column-gap: $mobile-gutter;
    }

    .intro__inner {
      grid-area: inner;

      width: auto;
      margin-left: 0;
      padding-left: 0;
    }

    .intro__rating {
      grid-area: rating;
      justify-self: end;

      margin: 0;
    }
  }

  .intro__title {
    margin-bottom: 0.917em;

    font-size: 2.571em;
  }

  .intro__description {
    margin-bottom: 1.722em;

    font-weight: 500;
    font-size: 1.286em;
    line-height: 1.444;
  }

  .intro__date {
    margin: 6.214em 0 1.214em;

    font-size: 1em;
    line-height: 1.244;
  }
}

@media (min-width: $desktop-width) {
  .intro__illustration {
    padding-bottom: calc(100% / #{$bg-hero-desktop-aspect-ratio});
  }

  @supports (aspect-ratio: 16 / 9) {
    .intro__illustration {
      padding-bottom: 0;
      aspect-ratio: $bg-hero-desktop-aspect-ratio;
    }
  }

  .intro__wrapper {
    padding-bottom: 4.214em;
  }

  .intro__inner {
    width: 50%;
    margin-left: 50%;
    padding: 6.429em 1.071em 3.429em;
  }

  .intro__rating {
    margin-right: 75.416%;
    margin-top: -7.357em;
  }

  @supports (display: grid) {
    .intro__wrapper {
      grid-template-columns:
        [rating-start]
        minmax(0, 1fr)
        [rating-end inner-start]
        minmax(0, 1fr)
        [inner-end];
      grid-template-rows:
        [inner-start]
        min-content
        [rating-start]
        7.357em
        [inner-end]
        min-content
        [rating-end];
      grid-column-gap: $desktop-gutter;
    }

    .intro__inner {
      width: auto;
      margin-left: 0;
      padding-left: 0;
    }

    .intro__rating {
      justify-self: start;

      margin: 0;
      margin-left: 4.571em;
    }
  }

  .intro__title {
    margin-bottom: 0.525em;

    font-size: 2.857em;
  }

  .intro__description {
    margin-bottom: 1.444em;

    font-weight: 400;
    line-height: 1.244;
  }

  .intro__date {
    margin: 4.5em 0 1.25em;

    font-size: 1.143em;
  }
}
