@use "sass:color";
@use "variables" as *;

.page-footer {
  flex-shrink: 0;

  text-align: center;
  color: $body-bg-color;

  background-color: $primary-color;
}

@supports (display: grid) {
  .page-footer {
    grid-row: 3;
  }
}

.page-footer__wrapper {
  padding-top: 2.643em;
}

.page-footer__city-list {
  margin: 0;
  margin-bottom: 1.714em;
}

.page-footer__link {
  display: inline-block;
  width: 11.429em;
  margin-bottom: 3.357em;
  padding: 0.857em;
  padding-top: 0.929em;

  line-height: 1.196;
  text-decoration: none;
  vertical-align: top;
  color: $primary-color;

  border-radius: 3.571em;
  background-color: $body-bg-color;

  cursor: pointer;
  transition: 0.3s ease-out;

  &:focus {
    outline-color: $body-bg-color;
    outline-offset: 0.286em;
  }
}

.page-footer__bottom {
  padding: 2.786em 2.812% 3em;

  background-color: color.adjust($primary-color, $saturation: -6%, $lightness: -14%);
}

.page-footer__legal-list {
  margin: 0;
  margin-bottom: 2.286em;
}

.page-footer__copyright {
  margin: 0;
  padding: 0.286em;

  line-height: 1.196;
}

@media (min-width: $tablet-width) {
  .page-footer {
    text-align: left;
  }

  .page-footer__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;

    padding-top: 3.571em;
  }

  .page-footer__city-list {
    flex-shrink: 0;
    flex-basis: auto;

    width: 62.24%;
    margin-left: 2.083%;
    margin-bottom: 3.571em;
  }

  .page-footer__link {
    flex-shrink: 0;
    flex-basis: auto;
    align-self: center;

    margin-right: 2.083%;
    margin-bottom: 3.571em;
    margin-left: auto;

    text-align: center;
  }

  .page-footer__bottom {
    flex-shrink: 0;
    flex-basis: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;

    width: 100%;
    padding: 1.143em 2.083%;
  }

  .page-footer__legal-list {
    flex-shrink: 0;
    flex-basis: auto;

    margin-bottom: 0;
    margin-left: auto;
  }

  .page-footer__copyright {
    flex-shrink: 0;
    flex-basis: auto;
    align-self: center;
    order: -1;

    width: 50%;
    padding: 1em;
    padding-left: 0;
  }
}

@media (min-width: $desktop-width) {
  .page-footer {
    overflow-x: hidden;
  }

  .page-footer__wrapper {
    padding-top: 2.929em;
    padding-left: calc(#{$desktop-gutter} / 2);
    padding-right: calc(#{$desktop-gutter} / 2);
  }

  .page-footer__city-list {
    width: 75%;
    margin-left: 0;
    margin-bottom: 3.214em;
  }

  .page-footer__link {
    margin-right: 0;
    margin-bottom: 3.214em;
  }

  .page-footer__bottom {
    position: relative;
    z-index: 1;

    padding-left: 0;
    padding-right: 0;

    &::before {
      content: "";

      position: absolute;
      z-index: -1;
      top: 0;
      left: 50%;
      right: 50%;

      height: 100%;
      margin-left: -50vw;
      margin-right: -50vw;

      background-color: color.adjust($primary-color, $saturation: -6%, $lightness: -14%);
    }
  }

  .page-footer__copyright {
    width: 31.62%;
  }

  .page-footer__legal-list {
    width: 62.9%;
  }
}
