@use "sass:color";
@use "variables" as *;

.review-item__inner {
  position: relative;

  margin-bottom: 2.143em;
  padding-top: 2.857em;
  padding-right: 6.25%;
  padding-bottom: 2.929em;
  padding-left: 16.776%;

  background-color: $body-bg-color;
  box-shadow: 0 0.714em 2.143em 0 color.adjust($primary-color, $hue: 23, $alpha: -0.9);
  border-radius: 0.714em;

  &::after {
    content: "";

    position: absolute;
    left: 1.929em;
    bottom: -1.143em;

    width: 1.286em;
    height: 1.143em;

    border-top: 1.143em solid $body-bg-color;
    border-right: 0.643em solid transparent;
    border-left: 0.643em solid transparent;
  }
}

.review-item__name {
  margin: 0;
  margin-bottom: 1.643em;

  font-weight: 600;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.review-item__blockquote {
  margin: 0;

  &--sergey {
    padding-right: 0.357em;
  }

  &--ekaterina {
    padding-right: 0.357em;
  }
}

.review-item__text {
  margin: 0;

  line-height: 1.9;
}

.review-item__avatar {
  position: relative;

  width: 5.286em;
  height: 5.286em;
  margin: 0;

  border-radius: 50%;
  overflow: hidden;
}

.review-item__image {
  position: absolute;
  top: 0;
  left: 0;

  &--ivan {
    top: -0.214em;
    left: -0.571em;

    max-width: none;
    width: 8.071em;
    height: 5.643em;
  }

  &--sergey {
    left: -0.571em;

    max-width: none;
    width: 8em;
    height: 6.357em;
  }

  &--ekaterina {
    left: -0.571em;
    top: -1.214em;

    max-width: none;
    width: 8.071em;
    height: 9.357em;
  }
}

@media (min-width: $tablet-width) {
  .review-item__inner {
    padding-left: 9.205%;
    padding-right: 7.4%;
  }

  .review-item__blockquote {
    &--sergey {
      padding-right: 0.714em;
    }

    &--ekaterina {
      padding-right: 0;
    }
  }
}

@media (min-width: $desktop-width) {
  .review-item__inner {
    padding-top: 1.929em;
  }

  .review-item__name {
    margin-bottom: 0.688em;

    font-size: 1.143em;
    line-height: 1.813;
  }

  .review-item__text {
    font-size: 1.143em;
    line-height: 1.75;
  }
}
