@use "variables" as *;
@use "mixins" as *;

@keyframes sweep {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.review-figure {
  position: relative;

  width: 16.5em;
  min-height: 16.5em;
  padding: 2.857em 3.143em 1.429em;

  text-align: center;
  color: $primary-color;

  @include decorate-circle($color: #ffffff, $shadow: true, $blur: false, $opacity: 1);

  &::before {
    content: "";

    display: block;
    width: 3.857em;
    height: 3.857em;
    margin: 0 auto;
    margin-bottom: 1.071em;

    background-image: url("../img/icon-reviews-document.svg");
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: center;
  }

  &::after {
    content: "";

    position: absolute;
    z-index: -1;
    top: 1.6em;
    right: 1.6em;
    bottom: 1.6em;
    left: 1.6em;

    @include decorate-circle($color: #ffffff, $shadow: false, $blur: false, $opacity: 0.1);
  }
}

.review-figure__description {
  margin: 0;
  padding: 0 1em;

  font-size: 0.857em;
  line-height: 1.417;
}

.review-figure__summary {
  box-sizing: border-box;
  display: inline-block;
  padding: 1em;

  font-size: 0.857em;
  line-height: 1.417;
  vertical-align: top;

  list-style: none;
  border-radius: 2.917em;

  cursor: pointer;
  transition: 0.3s ease-out;

  &:focus {
    font-weight: 700;

    color: $body-bg-color;
    background-color: $primary-color;
    outline: none;
  }

  &::marker {
    display: none;
  }

  &::after {
    content: " →";

    display: inline-block;
    padding-left: 0.6em;

    vertical-align: top;

    transition: transform 0.5s;
  }
}

.review-figure__more {
  box-sizing: border-box;
}

.review-figure__details[open] {
  position: relative;

  & > .review-figure__summary::after {
    transform: rotate(-45deg);
  }

  & > .review-figure__summary ~ .review-figure__more {
    position: absolute;
    z-index: 10;
    top: 100%;
    right: 0;

    min-width: 20rem;
    padding: 2em;

    font-size: 1.143em;
    line-height: 1.75;
    text-align: left;
    color: $text-color;

    background-color: $body-bg-color;
    border-radius: 0.3em;
    box-shadow: 0 0.714em 3.571em 0 rgba(119, 157, 255, 0.3);

    animation: sweep 0.5s ease-in-out;
  }
}

@media (min-width: $tablet-width) {
  .review-figure__details[open] {
    & > .review-figure__summary ~ .review-figure__more {
      width: 50vw;
    }
  }
}

@media (min-width: $desktop-width) {
  .review-figure__details[open] {
    & > .review-figure__summary ~ .review-figure__more {
      width: 37.5rem;
    }
  }
}
