@use "sass:color";
@use "sass:math";

$tablet-width: 48rem;
$desktop-width: 75rem;

$mobile-side-column-width: 3.125rem;
$tablet-side-column-width: 4.625rem;

$mobile-gutter: 1.25rem;
$desktop-gutter: 1.875rem;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$bg-hero-mobile-aspect-ratio: math.div(160, 367);
$bg-hero-tablet-aspect-ratio: math.div(128, 123);
$bg-hero-desktop-aspect-ratio: math.div(720, 367);

$img-trust-mobile-aspect-ratio: math.div(4, 3);
$img-trust-tablet-aspect-ratio:  math.div(573, 392);
$img-trust-desktop-aspect-ratio: math.div(727, 392);

$img-past-mobile-aspect-ratio: math.div(158, 135);
$img-past-tablet-aspect-ratio: 1;
$img-past-desktop-aspect-ratio: math.div(341, 267);

$img-includes-mobile-aspect-ratio: math.div(179, 166);
$img-includes-desktop-aspect-ratio: math.div(295, 166);

$cyrillic-unicode-range: U+0400-045F,U+0490-0491,U+04B0-04B1,U+2116;
$latin-unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;

$font-family: "Montserrat", "Verdana", sans-serif;

$primary-color: hsl(214, 84%, 56%);
$primary-color-faded: color.change($primary-color, $alpha: 0.1);
$primary-color-extra-faded: color.change($primary-color, $alpha: 0.05);

$body-bg-color: #ffffff;
$button-bg-color: hsl(170, 68%, 64%);
$button-border-color: color.change($button-bg-color, $alpha: 0.5);

$section-heading-color: #000000;
$text-color: #636363;
$placeholder-color: #c6c6c6;

$circle-shadow-color: color.change(hsl(223, 99%, 73%), $alpha: 0.3);
